<launch>

  <include file="$(find kinova_bringup)/launch/kinova_robot.launch" />

  <include file="$(find openni2_launch)/launch/openni2.launch" />

  <include file="$(find finger_sensor)/launch/jaco_fingers.launch"/> -->

  <include file="$(find perception)/launch/interface.launch"/>

  <include file="$(find camera_calibration_tool)/launch/calibration.launch"/> -->

  <node name="pap_with_perception" pkg="pick_and_place" type="pap_with_perception.py" output="screen" />

  <node name="keyboard" pkg="keyboard" type="keyboard" output="screen" />

</launch>
