<launch>

  <!-- launch keyboard listener -->
  <node name="keyboard" pkg="keyboard" type="keyboard" output="screen" />

  <!-- <node name="image_view" pkg="image_view" type="image_view" args="image:=/camera/rgb/image_raw" output="screen" /> -->

  <!-- Start camera calibration for Jaco -->
  <include file="$(find camera_calibration_tool)/launch/calibration.launch"/>


  <!-- Start perception -->
  <include file="$(find perception)/launch/interface.launch"/>
  <!-- </include> -->


  <!-- kinova_robot.launch -->
  <!-- <include file="$(find kinova_bringup)/launch/kinova_robot.launch" /> -->


  <!-- <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="depth_registration" value="true" />
    <arg name="publish_tf" value="true" />
  </include> -->

  <!-- launch pick and place manager -->
  <!-- <node name="pap_with_perception" pkg="pick_and_place" type="pap_with_perception.py" output="screen" /> -->
</launch>
